<h1>Play Rock Paper Scissors!</h1>
<form  action='/results'>
  <div class='form-group'>
    <label for='player'> Rock, Paper, or Scissors?: </label>
    <input type="text" name="player" id="player" class="form-control">
  </div>

<button type="submit" class='btn'> Play!!</button>
</form>
