<h1>Play Rock Paper Scissors!</h1>

<form  action='/play'>
  <div class='form-group'>
    <label for='choice'>Would you like to play with a computer or with a friend?</label>
    <input type="radio" name="choice" id="choicecomputer" value="computer" class="form-control">Computer
    <input type="radio" name="choice" id="choiceplayer" value="player" class="form-control">Friend
  </div>

<button type="submit" id="choice_submit" class='btn'>Let's play!</button>
</form>
